<div>
  <h1>test</h1>
  <form novalidate>
    <kendo-grid
     
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand type="button">Add new</button>
      </ng-template>

      <kendo-grid-column field="ProductName" title="Product Name">
        <ng-template kendoGridEditTemplate>
          <kendo-textbox name="ProductName" required> </kendo-textbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
        <ng-template kendoGridEditTemplate>
          <kendo-textbox name="ProductName" required> </kendo-textbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
        <ng-template kendoGridEditTemplate>
          <kendo-textbox name="ProductName" required> </kendo-textbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
        <ng-template kendoGridEditTemplate>
          <kendo-textbox name="ProductName" required> </kendo-textbox>
        </ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
        <ng-template kendoGridEditTemplate>
          <kendo-textbox name="ProductName" required> </kendo-textbox>
        </ng-template>
      </kendo-grid-column>
      
    </kendo-grid>
  </form>
</div>
