<kendo-grid
  [data]="view | async"
  [pageSize]="gridState.take"
  [skip]="gridState.skip"
  [sort]="gridState.sort"
  [pageable]="true"
  [sortable]="true"
  (dataStateChange)="onStateChange($event)"
  (edit)="editHandler($event)"
  (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)"
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  [navigable]="true"
  [height]="650"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column
    field="PersonID"
    title="Person ID"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="PersonName"
    editor="text"
    title="Person Name"
    [width]="150"
  >
    <ng-template
      kendoGridEditTemplate
      let-column="column"
      let-formGroup="formGroup"
      let-isNew="isNew"
    >
      <kendo-textbox
        #input="popupAnchor"
        popupAnchor
        [formControl]="formGroup.get('PersonName')"
      ></kendo-textbox>
      <kendo-popup
        [anchor]="input.element"
        *ngIf="
          formGroup.get('PersonName').invalid &&
          !(isNew && formGroup.get('PersonName').untouched)
        "
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
      >
        <span class="k-icon k-i-exclamation-circle"></span>
        person name is required
      </kendo-popup></ng-template
    ></kendo-grid-column
  >
  <kendo-grid-column field="PersonGender" title="Person Gender" [width]="150">
    <ng-template
      kendoGridEditTemplate
      let-dataItem="dataItem"
      let-formGroup="formGroup"
    >
      <kendo-dropdownlist
        [data]="['Male', 'Female']"
        [valuePrimitive]="true"
        [formControl]="formGroup.get('PersonGender')"
        [ariaSelected]="true"
      >
      </kendo-dropdownlist>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.PersonGender }}
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column field="PersonAddress" editor="text" title="Person Address">
    <ng-template
      kendoGridEditTemplate
      let-column="column"
      let-formGroup="formGroup"
      let-isNew="isNew"
    >
      <kendo-textbox
        #input="popupAnchor"
        popupAnchor
        [formControl]="formGroup.get('PersonAddress')"
      ></kendo-textbox>
      <kendo-popup
        [anchor]="input.element"
        *ngIf="
          formGroup.get('PersonAddress').invalid &&
          !(isNew && formGroup.get('PersonAddress').untouched)
        "
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
      >
        <span class="k-icon k-i-exclamation-circle"></span>
        person address is required person address is required
      </kendo-popup></ng-template
    >
  </kendo-grid-column>
  <kendo-grid-column
    field="PersonMobileNo"
    title="Person Mobile No"
    editor="text"
    [width]="200"
  >
    <ng-template
      kendoGridEditTemplate
      let-column="column"
      let-formGroup="formGroup"
      let-isNew="isNew"
    >
      <kendo-textbox
        #input="popupAnchor"
        popupAnchor
        [formControl]="formGroup.get('PersonMobileNo')"
      ></kendo-textbox>
      <kendo-popup
        [anchor]="input.element"
        *ngIf="
          formGroup.get('PersonMobileNo').invalid &&
          !(isNew && formGroup.get('PersonMobileNo').untouched)
        "
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
      >
        <span class="k-icon k-i-exclamation-circle"></span>
        person mobile number required with valid format
      </kendo-popup></ng-template
    >
  </kendo-grid-column>
  <kendo-grid-column field="DateOfBirth" title="Date Of Birth" [width]="200">
    <ng-template
      kendoGridEditTemplate
      let-dataItem="dataItem"
      let-formGroup="formGroup"
      let-isNew="isNew"
    >
      <kendo-datepicker
        #input="popupAnchor"
        popupAnchor
        [formControl]="formGroup.get('DateOfBirth')"
        [max]="maxDate"
      ></kendo-datepicker>
      <kendo-popup
        [anchor]="input.element"
        *ngIf="
          formGroup.get('DateOfBirth').invalid &&
          !(isNew && formGroup.get('DateOfBirth').untouched)
        "
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
      >
        <span class="k-icon k-i-exclamation-circle"></span>
        age should be greater than 18
      </kendo-popup>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.DateOfBirth | date : "EE MMM d y" }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="PersonAge" title="Person Age" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ ageCalculator(dataItem.DateOfBirth) }}</ng-template
    ></kendo-grid-column
  >
  <kendo-grid-command-column title="command" [width]="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand>
        {{ isNew ? "Add" : "Update" }}
      </button>
      <button kendoGridCancelCommand>
        {{ isNew ? "Discard changes" : "Cancel" }}
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
